* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --text: black;
}

body {
  background-color: #fefefa;
  background-image: url(../Images/brooke-lark-wMzx2nBdeng-unsplash.jpg);
  background-size: cover;
  font-family: "Nunito", sans-serif;
  height: 100%;
  width: 100vw;
}

/* adds media query for background image for smaller screens */
@media (max-width: 768px) {
  body {
    background-image: url(../Images/tiramisu.jpeg);
    background-size: cover;
    background-position: top;
    color: whitesmoke;
  }
}

/* CSS properties for header */
.top-bar {
  background-color: antiquewhite;
  color: black;
}
.top-bar ul {
  background-color: antiquewhite;
  color: black;
}

.menu-text {
  background-color: antiquewhite;
  font-size: 25px;
}
.menu a {
  color: black;
  font-size: 20px;
}

.logo {
  height: 50px;
  width: 50px;
}

/* media query for header for smaller screens*/
@media (max-width: 768px) {
  .top-bar ul {
    background-color: antiquewhite;
    color: black;
    justify-content: center;
    font-size: 10px;
  }

  .menu-text {
    background-color: antiquewhite;
    font-size: 20px;
  }
  .menu a {
    color: black;
    font-size: 15px;
  }

  .logo {
    height: 40px;
    width: 40px;
  }
}

/* CSS properties for main content of the page */
.wrapper {
  width: 100%;
  height: 100%;
  max-width: 31.25rem;
  margin: 6rem auto;
}

.herotext {
  margin: 10px;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  width: 100%;
}

/* CSS properties for search bar */
.searchBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#searchQueryInput {
  width: 100%;
  height: 2.8rem;
  outline: none;
  border: none;
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 1rem;
  text-align: center;
}

#searchQuerySubmit {
  width: 4.5rem;
  height: 3.8rem;
  margin-left: -3.5rem;
  background: none;
  border: none;
  outline: none;
}

#searchQuerySubmit:hover {
  cursor: pointer;
}

/* CSS properties for main content and search bar of the page for smaller screens*/
@media (max-width: 768px) {
  .herotext {
    font-size: 20px;
    padding-top: 30%;
    justify-content: center;
  }

  #searchQueryInput {
    height: 2.5rem;
    padding: 0 2rem 0 1rem;
    font-size: 0.9rem;
    width: 100%;
  }

  .searchBar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
  }

  #searchQuerySubmit {
    width: 3.5rem;
    height: 3rem;
    margin-left: -2.5rem;
  }
}

/*  CSS for second HTML file */
.boxes {
  padding-top: 50px;
}
.border {
  border: 5px solid black;
  border-radius: 20px;
}
.card:hover {
  box-shadow: 5px 5px 10px black;
  transition: 1s ease;
}

.boxes {
  padding-top: 50px;
}
.border {
  border: 2px;
  border-radius: 25px;
}
.card:hover {
  box-shadow: 10px 10px 10px black;
  transition: 0.5s ease-in-out;
  transform: scale(1.1);
}

.search-bar {
  display: flex;
  flex-wrap: wrap;
  width: 150px;
}
.my-input-class {
  border-radius: 15px;
  text-align: center;
}

h2 {
  font-weight: 700;
  line-height: 35px;
}

p {
  text-align: left;
  line-height: 20px;
}

footer {
  text-align: right;
  padding-right: 10px;
  padding-bottom: 10px;
  color: antiquewhite;
}

h3 {
  font-weight: 600;

  line-height: 35px;
  text-align: center;
  font-size: large;
}
